@import 'definition';

.normal-layout {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;

  .search-bar {
    height: 40px;

    .btn-bar{
      float: left;
      padding-right: 10px;
    }

    .col-25, .col-15, .col-10{
      float: left;
      padding-right: 10px;

      div:first-child, input:first-child{
        width: 100%;
      }
      button{
        width: 100%;

        .caret{
          float: right;
          margin-top: 8px;
        }
      }
      
      .title{
        height: 34px;
        line-height: 31px;
        text-align: center;
        color: $system_title_color;
        border: 1px solid $system_title_border_color;
      }
    }

    .col-25{
      width: 25%;
    }

    .col-15{
      width: 15%;
    }
    
    .col-10{
      width: 10%;
    }
  }

  .table-content {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;

    .remark{
      width: 100px;
      height: 25px;
    }
  }
}

.business-layout{
  width: 100%;
  height: 100%;
  padding: 10px;

  .left, .right {
    height: 100%;
  }

  .left{
    float: left;
    width: 300px;
    .department-tree {
      height: 100%;
      border: 1px solid $organization_border_color;
      border-radius: 4px;
      padding: 5px;
      overflow-y: auto;
    }
  }

  .right{
    width: 100%;
    padding-left: 305px;
    height: 100%;
    .organization-content{
      border: 1px solid $organization_border_color;
      height: 100%;
      border-radius: 4px;
      padding: 5px;

      .search-bar {
        height: 40px;
        margin-top: 5px;
        margin-left: -15px;
        margin-right: -15px;
      }

      .table-content {
        position: absolute;
        top: 50px;
        bottom: 0px;
        left: 305px;
        right: 0px;
        padding: 20px 35px 30px 35px;
      }
    }
  }
}

.department-condition-tree{
  width: 284px;
  height: 300px;
  overflow: auto;
}

.grid-style{
  width: 100%;
  height: 100%;

  .recordIndexCellTemplate {
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .customerCellTemplate {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;

    .cellBtn {
      margin-left: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
    .remark{
      margin-bottom: 4px;
      width: 180px;
    }
    .label{
      float: left;
    }
  }
}